<div class="container-fluid">
  <div class="row">
    <img src="../../../../foto.png" alt="Banner de la pagina">
  </div>
  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Linea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <th scope="row">{{vehicle.id}}</th>
          <td>{{vehicle.marca}}</td>
          <td>{{vehicle.linea}}</td>
          <td>{{vehicle.modelo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
